*.iml
.gradle
.kotlin
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
/gradle-dist/
/releases/secure/
/releases/*.apk
/releases/*.aab
compile_out.txt
/gradle/offline-repo/
/gradle/plugin-repo/
*.log
